{% extends "base.html" %}

{% block content %}
 <style>
    body {
        background-color: #e5f1ff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        
      }
      
      .main-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      
      .user-dashboard {
        width: 100%;
        max-width: 450px;
        background-color: #fff;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
      }
            
      .field-holder {
        margin-bottom: 20px;
      }
      
      label {
        margin-bottom: 5px;
        align-items: left;
      }
      
      input[type="text"],
      input[type="password"] {
        width: 100%;      
      }
      
      .payment-holder input[type="submit"] {
        background-color: #a22020;
        color: #fff;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .payment-holder input[type="submit"]:hover {
        background-color: #551010;
      }
      
      hr {
        border-top: 1px solid #ccc;
      }
      
      .alert {
        margin-top: 20px;
      }
      a {
        color: black;
      }
        .password-input-wrapper {
          position: relative;
      }
      
      .eye-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px; /* Adjust as needed */
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
      }
      
 </style>

 <div class="main-section">
  <div class="user-dashboard">
      <div class="user-holder">
          <h4 class="text-center mb-0">Reset Your Password</h4>
          <hr>
          <div id="restaurant-sets-holder">
              <form action='{% url "reset_password" %}' class="form-fields-set" method="post" enctype='multipart/form-data'>
                  {% csrf_token %}
                  <div class="field-holder">
                      <label for='password'>Password</label>
                      <div class="password-input-wrapper">
                          <input id='password' type="password" name="password" class="form-control px-2" placeholder='Set new password'>
                          <button type="button" class="eye-button" id="toggle-new-password" aria-label="Toggle password visibility">
                              <i class="fas fa-eye"></i>
                          </button>
                          <div id="password-error" class="error-message"></div>
                      </div>
                  </div>
                  <div class="field-holder">
                      <label for='confirm_password'>Confirm Password</label>
                      <div class="password-input-wrapper">
                          <input id='confirm_password' type="password" name="confirm_password" class="form-control px-2" placeholder='Confirm password'>
                          <button type="button" class="eye-button" id="toggle-confirm-password" aria-label="Toggle password visibility">
                              <i class="fas fa-eye"></i>
                          </button>
                          <div id="confirm-password-error" class="error-message"></div>
                      </div>
                  </div>
                  <div class="field-holder payment-holder">
                      <input type="submit" value="Reset Password" class="btn btn-danger mb-2"><br>
                  </div>
                  <div class="alert">
                      {% comment %} Load Message {% endcomment %}
                      {% include "includes/alerts.html" %}
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const togglePassword = (inputSelector, buttonSelector) => {
          const passwordInput = document.querySelector(inputSelector);
          const toggleButton = document.querySelector(buttonSelector);

          toggleButton.addEventListener('click', function() {
              const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
              passwordInput.setAttribute('type', type);

              // Change eye icon based on password visibility
              if (type === 'password') {
                  toggleButton.querySelector('i').classList.remove('fa-eye-slash');
                  toggleButton.querySelector('i').classList.add('fa-eye');
              } else {
                  toggleButton.querySelector('i').classList.remove('fa-eye');
                  toggleButton.querySelector('i').classList.add('fa-eye-slash');
              }
          });
      };

      togglePassword('#password', '#toggle-new-password');
      togglePassword('#confirm_password', '#toggle-confirm-password');
  });

  document.addEventListener('DOMContentLoaded', function() {
      var passwordInput = document.getElementById('password');
      var confirmPasswordInput = document.getElementById('confirm_password');

      var passwordError = document.getElementById('password-error');
      var confirmPasswordError = document.getElementById('confirm-password-error');

      function validatePassword() {
          var password = passwordInput.value;
          if (password.length < 8) {
              passwordError.textContent = 'Password must be at least 8 characters long.';
              return false;
          } else if (!password.match(/[a-zA-Z]/) || !password.match(/[0-9]/)) {
              passwordError.textContent = 'Password must contain alphanumeric characters.';
              return false;
          } else {
              passwordError.textContent = '';
              return true;
          }
      }

      function validateConfirmPassword() {
          if (confirmPasswordInput.value !== passwordInput.value) {
              confirmPasswordError.textContent = 'Passwords do not match.';
              return false;
          } else {
              confirmPasswordError.textContent = '';
              return true;
          }
      }

      function validateForm() {
          var isPasswordValid = validatePassword();
          var isConfirmPasswordValid = validateConfirmPassword();

          return isPasswordValid && isConfirmPasswordValid;
      }

      passwordInput.addEventListener('input', validatePassword);
      confirmPasswordInput.addEventListener('input', validateConfirmPassword);

      var form = document.querySelector('form');
      form.addEventListener('submit', function(event) {
          if (!validateForm()) {
              event.preventDefault(); // Prevent form submission
          }
      });
  });
</script>

{% endblock %}